{
    "openapi": "3.0.1",
    "info": {
        "title": "Invoices API",
        "description": "",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://ignite2019demo.azure-api.net/api"
        }
    ],
    "paths": {
        "/invoices/{number}": {
            "put": {
                "summary": "UpdateInvoice",
                "description": "UpdateInvoice",
                "operationId": "put-updateinvoice",
                "parameters": [
                    {
                        "name": "number",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": ""
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/invoices": {
            "get": {
                "summary": "GetInvoices",
                "description": "GetInvoices",
                "operationId": "get-getinvoices",
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/invoices/number/{number}": {
            "get": {
                "summary": "GetInvoiceByNumber",
                "description": "GetInvoiceByNumber",
                "operationId": "get-getinvoicebynumber",
                "parameters": [
                    {
                        "name": "number",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/invoices/customer/{customername}": {
            "get": {
                "summary": "GetInvoicesByCustomer",
                "description": "GetInvoicesByCustomer",
                "operationId": "get-getinvoicesbycustomer",
                "parameters": [
                    {
                        "name": "customername",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InvoicesCustomer-customername-Get200ApplicationJsonResponse"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "Invoice": {
                "type": "object",
                "properties": {
                    "invoiceNumber": {
                        "type": "string"
                    },
                    "customer": {
                        "type": "string"
                    },
                    "agingDays": {
                        "type": "string"
                    },
                    "openAmount": {
                        "type": "string"
                    },
                    "reasonCode": {
                        "type": "string"
                    },
                    "salesEngineer": {
                        "type": "string"
                    },
                    "OwnerName": {
                        "type": "string"
                    }
                }
            },
            "InvoicesCustomer-customername-Get200ApplicationJsonResponse": {
                "type": "array",
                "items": {
                    "$ref": "#/components/schemas/Invoice"
                }
            }
        },
        "securitySchemes": {
            "apiKeyHeader": {
                "type": "apiKey",
                "name": "Ocp-Apim-Subscription-Key",
                "in": "header"
            },
            "apiKeyQuery": {
                "type": "apiKey",
                "name": "subscription-key",
                "in": "query"
            }
        }
    },
    "security": [
        {
            "apiKeyHeader": []
        },
        {
            "apiKeyQuery": []
        }
    ]
}